#canvas-container {
    display: flex;
    justify-content: center;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

* {
    scrollbar-width: auto;
    scrollbar-color: #253369 #cccccc;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #cccccc;
}

*::-webkit-scrollbar-thumb {
    background-color: #253369;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #384d9e;
    border-radius: 10px;
    border: 0px none #ffffff;
}

body {
    text-align: center;
    font-size: 24px;
    min-height: 100vh;
    padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    justify-content: left;
    display: flex;
    padding-left: 4%;
    align-items: center;
    height: 2.2rem;
    background-color: #1a213d;
}

footer h1 {
    color: #e4ebf7;
    font-weight: 300;
    font-size: 1rem;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}


footer a {
    color: #e4ebf7;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #253369;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    height: 3.5rem;
    padding-left: 4%;
}

nav a {
    text-decoration: none;
}

nav a h1 {
    align-items: center;
    color: #e4ebf7;
    font-weight: 300;
    font-size: 2.25rem;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.navspec {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #253369;
    width: 100vw;
    height: 3.5rem;
    padding-left: 4%;
}

.navspec h1 {
    color: #e4ebf7;
    font-weight: 300;
    font-size: 2.25rem;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}

.navspec h2 {
    color: #e4ebf7;
    font-weight: 300;
    font-size: 1.5rem;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: solid #e4ebf7;
}

/* Samuel Kode */
.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    gap: 5px 2px;
    grid-template-areas:
        "info reakcia"
        "vyuzitie model"
}

.info {
    grid-area: info;
    padding: 1rem;
}

.reakcie {
    grid-area: reakcia;
    padding: 1rem;
}

.vyuzitie {
    grid-area: vyuzitie;
    padding: 1rem;
}

.model {
    grid-area: model;
    padding: 1rem;
}

.info h3,
.reakcie h3 {
    border-bottom: solid #597ef7;
}

.vyuzitie h3,
.model h3 {
    border-bottom: solid #7CB305;
}

.hero-image {
    position: fixed;
    z-index: -1;
    width: 50vw;
    right: 0;
    bottom: 2.2rem;
}

/* Toto uz neni Samuelov kode */

#canvas-container a {
    position: absolute;
    left: 10px;
    top: 10px;
}

.promo1 {
    position: absolute;
    top: 0.5rem;
    right: 9rem;


}

.promo2 {
    position: absolute;
    top: 0.5rem;
    right: 6rem;
}

h1:hover {
    color: #ADC6FF;
}

a {
    text-decoration: none;
}

.rovnice {
    margin-bottom: 1rem;
}

.header h2 {
    font-family: 'Roboto';
    color: #000;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
    border-bottom: solid 0.35vh #7CB305;
    padding-bottom: 0.5rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    max-width: 8vh;
    max-height: 8vh;
    margin-top: 3vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 70%;
    margin-top: 2vh;
    margin-bottom: 3vh;

}

.hbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2vh;
}

.hbox h2 {
    font-family: 'Roboto';
    color: #000;
    font-size: 3.3rem;
    font-weight: 500;
    margin: 1.5rem;
}

.hbox p {
    color: #000;
    font-size: 1.3rem;
    line-height: 140%;
    font-weight: 300;
    max-width: 75%;
    text-align: center;
}

.hbox h3 {
    color: #000;
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 0.35vh solid#7CB305;
    padding-bottom: 0.3rem;
    margin: 2rem;
    margin-bottom: 1rem;
}

.button {
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 5.5vh;
    justify-content: center;
    border-radius: 100px;
    background-color: #597ef7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.button h4 {
    color: white;
    font-size: 2.8vh;
    font-weight: 300;
    text-align: center;
    margin: 0;

}

.button a {
    text-decoration: none;
}

.button h4:hover {
    color: #253369;
}

.buttonlist:hover {
    background-color: #7CB305;
}

.buttonlist {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 3.6vh;
    justify-content: center;
    border-radius: 100px;
    background-color: #597ef7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
}

.buttonlist h4 {
    color: white;
    font-size: 2vh;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.buttonlist a {
    text-decoration: none;
}

.buttonlist h4:hover {
    color: #253369;
}

.button:hover {
    background-color: #7CB305;
}

.tabulkatestt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10vh;
    width: 100%;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px grey;
    background-color: #E4EBF7;
    table-layout: fixed;
    width: 75%;
}

thead {
    background-color: #253369;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    font-weight: 500;
    color: #E4EBF7;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    ;
}

td {
    padding: 1rem 2rem;
}

td a {
    text-decoration: none;
    color: #253369;
}

td a:hover {
    color: #7CB305;
    text-shadow: 0px 2px 2px #86c206;
}

tr:nth-child(even) {
    background-color: #d5dce8;
}

.tvys td {
    background-color: #4E5C93;
    font-size: 1.4rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    color: #d5dce8;
    padding: 0.5rem;
}

tbody tr td {
    padding: 1rem;
}

@media only screen and (max-width: 992px) {
    footer h1 {
        font-size: 0.9rem;
    }

    .buttonlist {
        width: 80%;
    }

    .container-fluid {
        align-items: center;
        justify-content: center;
    }

    .hero-image {
        display: none;
    }

    .hbox {
        width: 100%;
        margin: 0;
    }

    .hbox h3 {
        font-size: 1.3rem;
    }

    .button {
        margin-bottom: 1rem;
        width: 80%;
    }

    body {
        text-align: center;
    }

    .table {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .tvys td {
        font-size: 1rem;
    }

    td {
        padding: 1.2vw 2.4vw;
        font-size: 1rem;
    }

    th {
        padding: 1.2vw 2.4vw;
        font-size: 1.5rem;
    }

    .navspec h2 {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {
    .atomy {
        display: none;
    }

    .buttonlist {
        width: 70%;
    }

    .hbox p {
        font-size: 1.25rem;
    }

    .header h2 {
        font-size: 2.4rem;
    }

    table {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    footer h1 {
        font-size: 0.75rem;
    }

    .buttonlist {
        width: 100%;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 5px 2px;
        grid-template-areas:
            "info" "reakcia"
            "vyuzitie"
            "model";
    }

    .header h2 {
        font-size: 1.8rem;
    }

    nav {
        padding: 0;
        justify-content: center;
    }

    nav a h1 {
        font-size: 1.6rem;
        align-items: center;
    }

    .navspec {
        padding: 0;
        justify-content: center;
    }

    .navspec h1 {
        font-size: 1.6rem;
    }

    .promo1 img,
    .promo2 img {
        display: none;

    }

    td {
        font-size: 0.7rem
    }
}