body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

a {text-decoration: none;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.navbox {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-right: 14px;
  padding-left: 5%;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #253369;
}

.text {
  color: #e4ebf7;
  font-weight: 300;
  font-size: 45px;
  line-height: 120%;
  font-weight: undefined;
  letter-spacing: 0em;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}
.text:hover {
  color: #ADC6FF;
}
.contpodnav {
  display: flex;
  align-items: flex-start;
  column-gap: 17px;
  row-gap: 17px;
}

.content-align-left {
  display: flex;
  width: 100%;
  height: 926px;
  max-width: 844px;
  margin-left: 196px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.texts {
  display: flex;
  width: 100%;
  height: 371px;
  max-width: 806px;
  padding-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 17px;
  row-gap: 17px;
}

.text-2 {
  font-family: 'Roboto';
  color: #000;
  font-size: 55px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0em;
  padding-bottom: 2%;
}

.textvys {
  color: #000;
  font-size: 22px;
  line-height: 160%;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0em;
}

.frame-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text-3 {
  color: #000;
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 150%;
  font-weight: 500;
  text-align: center;
  text-decoration: underline #7CB305;
  text-underline-offset: 20px;
  text-decoration-thickness: 4px;
  padding-bottom: 2%;
}

.buttons {
  display: flex;
  width: 100%;
  height: 362px;
  max-width: 815px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
  margin-bottom: 180px;
}

.button {
  display: flex;
  width: 100%;
  height: 65px;
  max-width: 653px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #597ef7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label-text {
  color: #fff;
  font-size: 34px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.label-text:hover {
  color: #253369;
}

.button:hover {
  background-color: #7CB305;
}

.obrazok {
  margin-left: 100px;
  margin-top: 65px;
}